.social-likes {
	margin: 0 !important;
}

.wpsl-label {
	padding-right: 15px;
	position: relative;
	bottom: 2px;
}

input.wpsl-field {
	width: 350px;
	border: 1px solid #BBBBBB;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05) inset;
    padding: 0.4em;
}

input.wpsl-field:focus {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05) inset, 0 0 5px #FFA500;
    outline: 0 none;
}

.sortable-container {
	float: none;
	margin: 0;
}

.sortable-item {
	width: 300px;
}

.sortable-container.horizontal .sortable-item {
	float: left;
}

.sortable-item.ui-sortable-helper {
	background-color: #ECEDED;
}

.plugin-setup {
	width: 100%;
	font-size: 1.1em;
}

.plugin-setup th {
	width: 75px;
}

.plugin-setup td/*, .plugin-setup th*/ {
	padding: 10px 0;
}

.plugin-setup td.without-bottom {
	padding-bottom: 0;
}

.plugin-setup th {
	vertical-align: middle;
	text-align: right;
	padding-right: 25px;
}

th.valign-top {
	vertical-align: top;
	padding-top: 7px;
}

.counters-row td {
	padding: 0;
}

.switch-button {
	background: -moz-linear-gradient(center top , #FEFEFE, #F4F4F4) repeat scroll 0 0 transparent;
    border: 1px solid #BBBBBB;
    color: #000000;
    line-height: 1.8;
    padding: 0.4em 1em;
    margin-left: -5px;
}

.switch-button:nth-of-type(1) {
    border-radius: 0.35em 0 0 0.35em;
}

.switch-button:nth-last-of-type(1) {
    border-radius: 0 0.35em 0.35em 0;
}

#preview .social-likes__widget_single {
	line-height: 1.45;
}

#preview .social-likes__icon_single {
	top: 0;
	line-height: 1.5;
}

.plugin-setup .button-secondary {
	vertical-align: baseline;
}

input.view-state {
	opacity: 0;
	filter: alpha(opacity=0);
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input.checked.view-state + .switch-button {
	background: #606060;
	background: -moz-linear-gradient(center top , #606060, #A4A4A4) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #606060, #a4a4a4);
	background: -moz-linear-gradient(top, #606060, #a4a4a4);
	background: -ms-linear-gradient(top, #606060, #a4a4a4);
	background: -o-linear-gradient(top, #606060, #a4a4a4);
	background: linear-gradient(top, #606060, #a4a4a4);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#606060', endColorstr='#a4a4a4');
    border-color: #666666;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

td.switch-button-row {
	padding-left: 5px;
}

.shadow-border {
	box-shadow: inset 0px 11px 6px -10px rgba(0, 0, 0, 0.3), inset 0px -11px 6px -10px rgba(0, 0, 0, 0.3); 
    margin: 20px -20px;
    padding: 15px 20px;
}

.h-list li {
	display: inline-block;
}

.option-checkboxes {
	float: left; 
	margin-left: 0px; //15px
	line-height: 15px;
}

.option-checkboxes {
	margin-top: 0px; //4px
}

.option-checkboxes label, #counters {
	line-height: 15px;
	display: inline-block;
}

.wpsl-field {
	width: 200px;
}

.more-websites {
	margin-left: 17px;
	border-bottom: 1px dotted;
	cursor: pointer;
	color: #6b6b6b
}
