.social-likes__widget_email {
	background: none repeat scroll 0% 0% #373;
}
.social-likes__button_email,
.social-likes__button_email:hover {
	background: none;
	color: #FFFFFF;
}
.social-likes_light .social-likes__button_email {
	background: none;
	color: #373;
}
.social-likes__icon_email {
	margin-top: 2px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAACgR9dcAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAASZJREFUKFOdUrtKxEAUzYeInyBYC+sqWNpYLBZuIYKFCFa226yNhX7TpghpUiTBhDyaBELeyWSdFHm4y54JEghEFz1wGe6959zHzHBhGK7quk7+akEQ8FyapiqcjeM4b6IoHu0zTdOe27bdxnH80Yl1XV80TfNZFMU99wtc171EozXO114sCMKEEDJFxTWl9PGbO4Dv+1dVVRGseaGq6ulAzAhZlp2gAEFsUAD7XaNjgXPK/FExQ5IkDyiwMU2zWyGKovkXAPJTRwBGxXmeTzBajsQCneKyLHn4GQos2cgsPyrGzucQUMMwZoygKMoBxryVJOmQ+bZtz5AnmOxsILYsa8luG7hjxJ+AS7sBj+JZX3oxAlvP895lWT7eZ4zXv/P/f1jA7wA8pLadsDqFqQAAAABJRU5ErkJggg==");
	background-position: 2px 4px;
}
.social-likes_light .social-likes__icon_email {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAACgR9dcAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAARhJREFUKFOdkk1KA0EQhecUYeqnPYLgWohRyM6IRhPHSSfDGHAhgiu32cSNCz2TcwXxFIrGmG0SfNWIYTAatKAYqnnfq9fNRJzyvcvd819bOlJE4uUBw4wSuq00Kuurmpt85U7dHNxjgOOjeACDd8nkLPql+IQb0I35mG8W8F5cBViD41h7evGpLZWk0tRcR+SpHu/HWyXYBJTSJgxG6ssG2Jhg4xvuWbN5KWzFHT6HwYxaFK4gXem6vpsCvAwC1FIYkauI9gqDAQyeXOYKbHwBOLTImmrQfYPx3YFwwi1um0AORNlzTru0ZrOdm4H0ZLsEI+LQXlsz7Zvwp5JEPBJNqE3XXzAO5niUOz7kjZUNnekD/P8/TIoPiRuaot3GD/EAAAAASUVORK5CYII=");
	background-position: 0px 7px;
}