.social-likes__widget_email>.social-likes__button_email {
	color: #000000;
}
.social-likes__widget_email:hover {
	background: none repeat scroll 0% 0% #5a5;
}
.social-likes__widget_email:hover>.social-likes__button_email {
	color: #ffffff;
}
.social-likes__button_email,
.social-likes__button_email:hover {
	background: none;
}
.social-likes__icon_email {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAYAAABPhbxiAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAAEiSURBVChTY5COkT4kmyj7mhQsHS19mEE6VvqqTILML8kwyVwxXzE9fFgyUDIaqPGnTIzMdbBGyRDJRtkk2fdA280ZcACpcCk1mUSZZ5IRkt1wjRIeElpAOhWo+Y1UrJQhVC0ciIeIKwJtegjUkA1Si6IRpEA6TjofqPmlTIiMClgHEADZ0kCv3JWJlSkF8bFqBAJGmXiZXUCFd4T9hKXEA8XFgDZdB/L3QOWxawRqKgabHiczEajhERDfB9o0Eyh2TzZWtgirRqDfMoAKnol5iykB5RklwyXdJCIkPEBssSAxJdkE2SfS8dJpKBqBIdYmkyTzTiZaxhRkKjYgHSitD1IjFSHVCtcIdNJvYDDnSQVLGeLDQFeAAu8PRCNZKUf6MADIrpGAKvjeRgAAAABJRU5ErkJggg==");
}
.social-likes__widget_email:hover .social-likes__icon_email {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAYAAABPhbxiAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAATJJREFUKFOdkr1Kw2AUhtObcNDJIg4dlA7iHYj34KwIogXFC3DQxcnRG8kgTkmgY0ISaUP+RUqS5p80v0J8UyRQSAv6whm+c97nO+c7fIRt21RRFPO/hGVZNOH7/keWZaUsy9fj8fhgU7AsewawcF13sgQBPVRVFSBxTKyRqqr7eZ7PdF1/bkGSJAdxHJ+XZek6jjP89baaTqe7mMqE94qiqMEK2BiiKBoBtkVR3FsSkCRJO2maqp7n3TfnTrCu695isXhLkkRhGGZbUZQtdJrg/N7UG63reAdQDcPwBcAn9qAHQfCKnIbabScI8yXMM5qm+01n0zRPsIhTeHs8z/cx7hf2cLECapr2hLf5gI+aW7skCMIhNu8bhvHYghipQuKG47jhpsAUI3i/l+D/fo5F/wCumqSPd4qkZQAAAABJRU5ErkJggg==");
}
