.social-likes__widget_email>.social-likes__button_email {
	color: #000000;
}
.social-likes__widget_email:hover {
	background: none repeat scroll 0% 0% #5a5;
}
.social-likes__widget_email:hover>.social-likes__button_email {
	color: #ffffff;
}
.social-likes__button_email,
.social-likes__button_email:hover {
	background: none;
}
.social-likes__icon_email {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsSAAALEgHS3X78AAABTElEQVRIie3VPUscYRTF8d9sjEYlXbDwQ6QRsRLRJiFCBBdsEu1SCNqIn8FSLNQE10BaE0gVhRQRjVa+YGHAFKlsrVfcRXdSPLMgy2RnQlhIsaeb+9x7/neeOTBRHMdaqUJL3duA/wLQ0ViI3kRTKOIBunP63OAWn+NSvNUUgAFM4SfW0JlhXsE0hnCJTEABx3iCKlYzAEX04zztMA3QhSO8xyF6sPIH8xmU8AyTeJS2bZp6cYbnWMJcSs/rxLyIvWQm1xvc1wHGsIsa1pP6K2zgJb42M8gCwEPhWywnz2W8w52QnqbKAoxiB7P4hU0hvhPoE7Yfx7e/BZSFuG5jER+S+lNEQjThMb5gOJmJ8gAqGEk2mxfSVFe1ofetcE2fcIXveQA1DOJCiN1CSk/jQtfJzH4ewCk+Cnf9IsO8rgv8wEnjQdT+o7UB/6zfDRVFE0gv8L8AAAAASUVORK5CYII=");
	/* green */
}
.social-likes__widget_email:hover .social-likes__icon_email {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAAEWSURBVEhL7dTBSgJRFMbxWenziC5cJClCbtoFtjAyEQKzhfQWUatsK66FWvYO4lKwBMGgJ2ihqavp/8EduETX7pjL+eAHzuXcc2bGmQmSJNl/wjCsYoAnvHh6hvacmjbuUHQL5Q3XuPlDG0Mod6aNOyrCCHNcQmvbnOADY3gNeMAjMliig59NI+fYoAjt65o27pjCPvS7gC/oVtmN5QxqfmyOe4g9QPLQkCtrrWbWKtbazgN0FZ9YQ0PqWGGBQ/xrQAlqdoEDTDHDEXSLNLSM2AP0J2eh26DHUOuSQto6bkEnkIP2eQ2IHtN3NBE1c2lAtdpzb9q4Q1H0or1CZ//by2VTzQSK13uwy6dCtX6fiiRJYiYIvgEbx5StM7w70wAAAABJRU5ErkJggg==");
	/* white */
}
