.social-likes__button_email {
  background: #e8e8e8;
  background: -webkit-linear-gradient(top, #fff, #e8e8e8);
  background: linear-gradient(top, #fff, #e8e8e8);
  color: #373;
  border-color: rgba(100,150,100,0.8);
  border-bottom-color: rgba(50,100,50,0.8);
}
.social-likes__button_email:hover {
  background: #efefef;
  background: -webkit-linear-gradient(top, #fff, #efefef);
  background: linear-gradient(top, #fff, #efefef);
  color: #050;
  border-color: #4a4;
  border-bottom-color: #2a2;
}
.social-likes__icon_email {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAACgR9dcAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAAEYSURBVChTnZJNSgNBEIXnFGHqpz2C4FqIUcjOiEYTx0knwxhwIYIrt9nEjQs9k3MF8RSKxphtEnzViGEwGrSgGKp536vXzUSc8r3L3fNfWzpSROLlAcOMErqtNCrrq5qbfOVO3RzcY4Djo3gAg3fJ5Cz6pfiEG9CN+ZhvFvBeXAVYg+NYe3rxqS2VpNLUXEfkqR7vx1sl2ASU0iYMRurLBtiYYOMb7lmzeSlsxR0+h8GMWhSuIF3pur6bArwMAtRSGJGriPYKgwEMnlzmCmx8ATi0yJpq0H2D8d2BcMItbptADkTZc067tGaznZuB9GS7BCPi0F5bM+2b8KeSRDwSTahN118wDuZ4lDs+5I2VDZ3pA/z/P0yKD4kbmqLdxg/xAAAAAElFTkSuQmCC");
  background-position: 3px 4px;
}
/* Icon from https://www.iconfinder.com/icons/167630/email_icon#size=24
License: Free Art License */