.social-likes__button_email {
  background: #e8e8e8;
  background: -webkit-linear-gradient(top, #fff, #e8e8e8);
  background: linear-gradient(top, #fff, #e8e8e8);
  color: #373;
  border-color: rgba(100,150,100,0.8);
  border-bottom-color: rgba(50,100,50,0.8);
}
.social-likes__button_email:hover {
  background: #efefef;
  background: -webkit-linear-gradient(top, #fff, #efefef);
  background: linear-gradient(top, #fff, #efefef);
  color: #050;
  border-color: #4a4;
  border-bottom-color: #2a2;
}
.social-likes__icon_email {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA+ElEQVRIie3Uu0pDQRDG8V+lzyNaWBhUBG3sAlooXhAEjYX4FhIrTRtSC7H0HSSl4AUEhTxBCi+x0uJM4GAR9xyxOx8s7M7O7H+Z3RkqVfoPreESXVwnjquIWU8BnOILDzjCyS+jgZuIaaYAmujhGfsJ/nX0cZsKOEcLU3jD8RjfLXxiIeIuUgGdmNfwLkvVT23G4auxbpcBwGxADnO2jbCt5GylATUMMAzINj7wivm/AhbjsB3M4RFPWJalaIilMoAWpmVpaOT2JjCZWx/EBWYUeOTRN33BXoL/bvj2cJYCGBXavez2KYV2p0ChlWkVXQVaRaVKxfQNnupWzyJudrkAAAAASUVORK5CYII=");
  background-position: -1px -2px;
}
/* Icon from https://www.iconfinder.com/icons/167630/email_icon#size=24
License: Free Art License */